.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 15px ;
}
.div1{
    display: flex;
    gap:5px ;
    flex-direction: column;
}
.input1{
    padding: 5px 10px;
    outline: none;
    border: 1px solid gray;
    width: 400px
}